// TOP NAV

#topnav
    background: $bg
    height: 65px
    text-align: center
    width: 100%
    li
        display: inline-block
        height: 65px
        padding: 0 30px
        a
            color: white
            font-size: 15px
            font-weight: bold
            letter-spacing: .2rem
            line-height: 65px
            &:hover
                color: $accent

.show-menu
    background: $black
    border: 1px solid $black
    color: white
    display: none
    padding: 10px 15px
    position: absolute
    right: 15px
    top: 15px
    &:hover
        border-color: white

//MEDIUM

@media screen and (max-width: $medium)

//SMALL

@media screen and (max-width: $small)
    #topnav
        display: none
    .show-menu
        display: block