// FONTS

@font-face
    font-family: "Liberator"
    src: font-url('Liberator-Heavy.ttf') format('truetype')

// CONTENT RESET STYLES

li, a, p, h1, h2, h3, h4, h5, h6, label, input, th, td, div, span, textarea, strong
    color: inherit
    font-family: "Source Sans Pro", Georgia, serif
    font-size: 1.3rem
    letter-spacing: .03rem
    line-height: 1.7rem
    list-style: none outside none
    text-decoration: none

[class^="icon-"], [class*=" icon-"], [class^="path"], [class*=" path"]
    font-style: normal

// HEADERS

h1, h2, h3, h4, h5, h6
    font-family: "Liberator", "Arial Black", Arial
    font-weight: 300

.accent-text
    color: $accent
    font-size: inherit
    font-weight: inherit