// VARS

$black: #1c1b1b
$blue: #75b9fe

// Used in App

$bg: $black
$accent: $blue
$border: #e6e6e6
$link: #48A3FE

// Responsive breakpoints

$medium: 900px
$small: 650px

// BASE PARTIALS

@import "base"
@import "reset"
@import "typography"
@import "layout"
@import "form"

// APP PARTIALS

@import "partials/topnav"
@import "partials/auth"
@import "partials/home"
@import "partials/dashboard"
