<div class="home-banner">
    <img id="logo" src="<%= asset_path('logo.png')%>"/>
</div>

<div id="about" class="home-content">
    <h2 class="centered-header">About YOTR</h2>

    <p>
        On April 12, 2015, a young black man named <a href="https://en.wikipedia.org/wiki/Death_of_Freddie_Gray" target="_blank">
        Freddie Gray</a> was arrested by the Baltimore City Police. Seven days later, Gray was pronounced dead due to
        injuries to his spinal cord. The city of Baltimore finally erupted after years and years of injustice. Its citizens
        rallied in the streets and organized events for local people to talk about the continued oppression that they
        faced in their city and in their country. The youth in particular, after years of feeling invisible, could no
        longer remain comfortable in their silence. Even though multiple people tried to force them into silence, these
        young people could not be stopped. Unfortunately, many of their messages are still going unheard by those
        outside of their communities, and the same injustices they are highlights are also continuing to occur all over
        the US.
    </p>
    <p>
        The purpose of this website is to make sure that voices of our youth - of our future - are heard. These young
        men and women know way more than they are given credit for and are more capable of changing the world than one
        can imagine. But in order for that to happen, we need to take some time to listen to these Youth on the Rise.
    </p>
</div>
