<div class="home-banner">
    <img id="logo" src="<%= asset_path('logo.png')%>"/>
</div>

<div id="about" class="home-content">
    <h2>Some info on Y.O.T.R.</h2>

    <p>Phasellus at suscipit urna, id ultricies justo. Suspendisse quis justo mauris. In rhoncus viverra augue, id posuere nibh bibendum ornare. Maecenas at sapien sapien. Nam imperdiet ultricies metus vel eleifend. Sed ultrices metus ut lacinia gravida. Nam ut sem eu sem egestas ornare vel suscipit elit. Integer vel posuere lacus. Fusce malesuada leo a mi tempor pellentesque. Donec malesuada, ex eu congue sodales, mi justo rhoncus dolor, in tempus est arcu pretium ligula. Phasellus dui quam, faucibus sed rutrum id, varius sit amet lacus. Maecenas hendrerit tincidunt tortor id egestas. Fusce quis finibus odio. Curabitur eu pellentesque nulla. Donec sollicitudin augue at bibendum vulputate.</p>
</div>