<div class="home-banner">
    <img id="logo" src="<%= asset_path('logo.png')%>"/>
</div>

<div id="read" class="home-content">
    <ul class="posts">
        <li class="post">
            <h2 class="post-title">This is the Post Title.</h2>
            <p class="post-byline">By: <a href="#">George Simmons</a></p>
            <p class="post-created">on Nov. 8, 2015</p>
            <div class="post-body">
                <p>
                    Phasellus at suscipit urna, id ultricies justo. Suspendisse quis justo mauris. In rhoncus viverra augue, id
                    posuere nibh bibendum ornare. Maecenas at sapien sapien. Nam imperdiet ultricies metus vel eleifend. Sed
                    ultrices metus ut lacinia gravida. Nam ut sem eu sem egestas ornare vel suscipit elit. Integer vel posuere
                    lacus. Fusce malesuada leo a mi tempor pellentesque. Donec malesuada, ex eu congue sodales, mi justo rhoncus
                    dolor, in tempus est arcu pretium ligula. Phasellus dui quam, faucibus sed rutrum id, varius sit amet lacus.
                </p>
            </div>
            <div class="post-footer">
                <a href="#">SHARE</a>
            </div>
        </li>
        <img class="post-separator" src="<%= asset_path('post_separator.png') %>"/>
        <li class="post">
            <h2 class="post-title">This is the Post Title.</h2>
            <p class="post-byline">By: <a href="#">George Simmons</a></p>
            <p class="post-created">on Nov. 8, 2015</p>
            <div class="post-body">
                <p>
                    Phasellus at suscipit urna, id ultricies justo. Suspendisse quis justo mauris. In rhoncus viverra augue, id
                    posuere nibh bibendum ornare. Maecenas at sapien sapien. Nam imperdiet ultricies metus vel eleifend. Sed
                    ultrices metus ut lacinia gravida. Nam ut sem eu sem egestas ornare vel suscipit elit. Integer vel posuere
                    lacus. Fusce malesuada leo a mi tempor pellentesque. Donec malesuada, ex eu congue sodales, mi justo rhoncus
                    dolor, in tempus est arcu pretium ligula. Phasellus dui quam, faucibus sed rutrum id, varius sit amet lacus.
                </p>
            </div>
            <div class="post-footer">
                <a href="#">SHARE</a>
            </div>
        </li>
    </ul>
</div>
