<div class="home-banner">
    <img id="logo" src="<%= asset_path('logo.png')%>"/>
</div>

<div id="about" class="home-content">
    <h2 class="centered-header">Our Inspiration</h2>

    <p>Suggested reading/users from teachers.</p>
</div>
