<div class="home-banner">
    <img id="logo" src="<%= asset_path('logo.png')%>"/>
</div>

<div id="about" class="home-content">
    <h2>Here's where people submit their story:</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada efficitur dignissim. Aenean non sem ac risus tempus ornare ut a tellus. Curabitur tempus, turpis ac porta convallis, risus nisl hendrerit ipsum, id aliquam velit lacus eget nulla. In ut tellus sem. Nam eget erat purus. In sollicitudin nec turpis ut laoreet. Vivamus porta tortor sed urna aliquet efficitur.</p>
</div>